# Redirige todas las solicitudes al contenido de la carpeta dist
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/dist/
RewriteRule ^(.*)$ /path/to/your/site/dist/$1 [L]


# Establece el archivo index dentro de la carpeta dist
DirectoryIndex index.html
