---
// import CTA from "../components/CTA.astro";
// import Navbar from "../components/Navbar.astro";
// import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Hero2 from "../components/Hero2.astro"
import Hero3 from "../components/Hero3.astro";
// import Pricing from "../components/Pricing.astro";
// import Reviews from "../components/Reviews.astro";
// import SideBySide from "../components/SideBySide.astro";
// import Team from "../components/Team.astro";
// import Nosotros from "./nosotros.astro";
// import Actividades from "./actividades.astro";
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/global.astro";

---


<Layout>
    <main>  <html lang="en">
      <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Inserir Transparente.svg" />
        <meta name="viewport" content="width=device-width", initial-scale=1.0"/>
        <meta name="generator" content={Astro.generator} />
        <title>INSERIR</title>
        <!-- <ViewTransitions /> -->
      </head>
      <body>
        <!-- <Navbar/> -->

        <div class="caja-text slide-in">
          <div class="text-nos">    
              <h3>CENTRO INSERIR</h3>   
              <span>
                Somos 3 centros privados, categorizados, dedicados a la rehabilitación del paciente pediátrico, joven y adulto, ubicado en la ciudad de Córdoba.
                Ofrecemos evaluación y tratamiento para rehabilitar y reeducar funciones en el paciente con alteraciones neurológicas y darle elementos que posibiliten su máxima funcionalidad tanto en lo físico, psíquico, educacional y social, con el objetivo de lograr la mejor integración a la comunidad. Así como también promover medidas que previenen la discapacidad.
              </span>
              
          </div> 
        </div> 
    
        <Hero/>
        <div class="banner">
          <div class="carousel">
            <img src="/p.jpg" alt="Imagen 1">
            <img src="/q.jpg" alt="Imagen 2">
            <img src="/centro.jpg" alt="Imagen 3">
            <img src="/centro (2).jpg" alt="Imagen 5">
            <img src="/centro (3).jpg" alt="Imagen 6">
            <img src="/centro (4).jpg" alt="Imagen 7">
            <img src="/centro (5).jpg" alt="Imagen 8">
            <img src="/centro (6).jpg" alt="Imagen 9">
            <img src="/centro (7).jpg" alt="Imagen 10">
            <img src="/centro (8).jpg" alt="Imagen 11">
            <img src="/centro (9).jpg" alt="Imagen 12">
            <img src="/centro (10).jpg" alt="Imagen 13">
            <img src="/centro (11).jpg" alt="Imagen 14">
            <img src="/centro (12).jpg" alt="Imagen 15">
            <img src="/centro (13).jpg" alt="Imagen 16">
            <img src="/centro (14).jpg" alt="Imagen 17">
            <img src="/centro (15).jpg" alt="Imagen 18">
          </div>
        </div>
        <Hero2/>
        <div class="banner">
          <div class="carousel">
            <img src="/adulto.jpg" alt="Imagen adulto">
            <img src="/adulto (2).jpg" alt="Imagen adulto">
            <img src="/adulto (3).jpg" alt="Imagen adulto">
            <img src="/adulto (4).jpg" alt="Imagen adulto">
            <img src="/adulto (5).jpg" alt="Imagen adulto">
          </div>
        </div>
        <Hero3/>
        <div class="banner">
          <div class="carousel">
            <img src="/niños.jpg" alt="Imagen adulto">
            <img src="/niños (2).jpg" alt="Imagen adulto">
            <img src="/niños (3).jpg" alt="Imagen adulto">
            <img src="/niños (4).jpg" alt="Imagen adulto">
            <img src="/niños (5).jpg" alt="Imagen adulto">
          </div>
        </div>
        <!-- <SideBySide /> -->
        <!-- <Team /> -->
        <!-- <Pricing /> -->
        <!-- <CTA /> -->
        <!-- <Footer /> -->
    
      </body>
    </html>
  </main>
</Layout>


<style>
/* ESTO ES PARA MOBILE */
@media only screen and (max-width: 768px){
    .text-nos {
      font-family: "Arial", sans-serif;
        font-size: 24px;
        color: black;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        background-color: #f391c2;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        line-height: 2rem;
    }

    .caja-text {
        padding: 30px 0 0; /* Reduzco el padding superior e inferior para dispositivos móviles */
    }

    .banner {
      overflow: hidden;
      width: 100%;
      position: relative;
}

    .carousel {
      display: flex;
      transition: transform 0.5s ease;
      width: 100%;
    }

    .carousel img {
      width: 100%;
      flex-shrink: 0;
    }
    .img-centro2{
          position: relative;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;

      }

      .text-nos h3 {
      font-size: 28px;
      margin-bottom: 10px; /* Espacio entre el título y el texto */
      /* border: 1px solid #1a1a1a; */
      border-radius: 5px; /* Redondea los bordes */
      box-shadow: -2px 0px 20px 20px rgba(0, 0, 0, 0.1);
      background-color: #f391c2; /* Fondo para que se vea mejor */
      color: #fff; /* Color del texto */
      text-align: center; /* Centra el texto */
      font-weight: 900;
      padding: 10px;
    }


}


/* ESTO ES PARA COMPUTADORA */
@media only screen and (min-width: 768px){
 
  .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }

  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  /* .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  } */

  .img-centro2{
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

  }
  .banner {
      overflow: hidden;
      width: 100%;
      position: relative;
}

    .carousel {
      display: flex;
      transition: transform 0.5s ease;
      width: 100%;
    }

    .carousel img {
      width: 100%;
      height: 1100px;
      flex-shrink: 0;
    }

.text-nos {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #333; /* Un tono de gris más suave */
  text-align: center;
  background-color: #f391c2;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligeramente más fuerte */
  max-width: 100%;
  margin: 0 auto; /* Centra el contenido */
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
}

.text-nos h3 {
  margin-top: auto;
  font-size: 36px;
  background-color: #d76ba1;
  color: #fff;
  text-align: center;
  font-weight: 700; /* Font-weight reducido para una apariencia más elegante */
  padding: 20px;
  margin-bottom: 15px; /* Separación adicional entre el título y el texto */
  border-radius: 5px;
}

.text-nos span {
  display: inline-block; /* Permite ajustar el tamaño del bloque de texto */
  line-height: 1.5; /* Altura de línea ajustada para mejorar la legibilidad */
  font-size: 1.5rem; /* Tamaño de fuente grande pero equilibrado */
  color: #333; /* Color de texto oscuro para buen contraste */
  font-family: 'Roboto', sans-serif; /* Fuente moderna y legible */
  margin: 0; /* Elimina el margen inferior para evitar espacio extra */
  padding: 20px;
}


body{
  width: 100%;
}
}

</style>

<script src="../js/script.js"></script>
