---
// import CTA from "../components/CTA.astro";
// import Navbar from "../components/Navbar.astro";
// import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Hero2 from "../components/Hero2.astro"
import Hero3 from "../components/Hero3.astro";
// import Pricing from "../components/Pricing.astro";
// import Reviews from "../components/Reviews.astro";
// import SideBySide from "../components/SideBySide.astro";
// import Team from "../components/Team.astro";
// import Nosotros from "./nosotros.astro";
// import Actividades from "./actividades.astro";
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/global.astro";
---


<Layout>
    <main>  <html lang="en">
      <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Inserir Transparente.svg" />
        <meta name="viewport" content="width=device-width", initial-scale=1.0"/>
        <meta name="generator" content={Astro.generator} />
        <title>INSERIR</title>
        <!-- <ViewTransitions /> -->
      </head>
      <body>
        <!-- <Navbar/> -->

        <div class="caja-text slide-in">
          <div class="text-nos">    
              <h3>CENTRO INSERIR</h3>   
              <span>
                Somos 3 centros privados, categorizados, dedicados a la rehabilitación del paciente pediátrico, joven y adulto, ubicado en la ciudad de Córdoba.
                Ofrecemos evaluación y tratamiento para rehabilitar y reeducar funciones en el paciente con alteraciones neurológicas y darle elementos que posibiliten su máxima funcionalidad tanto en lo físico, psíquico, educacional y social, con el objetivo de lograr la mejor integración a la comunidad. Así como también promover medidas que previenen la discapacidad.
              </span>
              
          </div> 
        </div> 
    
        <Hero/>
        <div class="banner">
          <div class="carousel">
            <img src="/p.jpg" alt="Imagen 1">
            <img src="/q.jpg" alt="Imagen 2">
            <img src="/r.jpg" alt="Imagen 3">
          </div>
      </div>
        <Hero2/>
        <img src="/k.jpg" alt="img2centro" class="img-centro2">
        <Hero3/>
        <img src="/j.jpg" alt="img2centro" class="img-centro2">
        <!-- <SideBySide /> -->
        <!-- <Team /> -->
        <!-- <Pricing /> -->
        <!-- <CTA /> -->
        <!-- <Footer /> -->
    
      </body>
    </html>
  </main>
</Layout>


<style>
/* ESTO ES PARA MOBILE */
@media only screen and (max-width: 768px){
  .text-nos {
      font-family: "Arial", sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        background-color: #f391c2;
        /* padding: 20px; */
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        line-height: 2.5rem;
    }

    .caja-text {
        padding: 30px 0; /* Reduzco el padding superior e inferior para dispositivos móviles */
    }

    .banner {
      overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel img {
  width: 100%;
  flex-shrink: 0;
}
.img-centro2{
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

  }

  .text-nos h3 {
  font-size: 24px;
  margin-bottom: 10px; /* Espacio entre el título y el texto */
  /* border: 1px solid #1a1a1a; */
  border-radius: 5px; /* Redondea los bordes */
  box-shadow: -2px 0px 20px 20px rgba(0, 0, 0, 0.1);
  background-color: #f391c2; /* Fondo para que se vea mejor */
  color: #fff; /* Color del texto */
  text-align: center; /* Centra el texto */
  font-weight: 900;
}


}


/* ESTO ES PARA COMPUTADORA */
@media only screen and (min-width: 768px){
 
  .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }

  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  /* .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  } */

  .img-centro2{
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

  }
  .banner {
  position: relative;
  width: 100%;
  height: auto; /* Ajusta la altura según sea necesario */
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%; /* Ancho total de las imágenes */
  transition: transform 0.5s ease;
  object-fit: cover;
}

.carousel img {
  width: 100%;
  height: auto;
}

.text-nos {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: #f391c2;
  padding: 20px;
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 20px; /* Margen exterior */
}

.text-nos h3 {
  font-size: 28px;
  margin-bottom: 10px; /* Espacio entre el título y el texto */
}

.text-nos span {
  display: block;
  line-height: 1.5;
}

}



</style>

 <script>
  document.addEventListener("DOMContentLoaded", function() {
    let carousel = document.querySelector('.carousel');
    let images = document.querySelectorAll('.carousel img');
    let currentIndex = 0;
    const totalImages = images.length;
    const slideInterval = 3000; // Cambia esta variable para ajustar la velocidad de desplazamiento
  
    function setCarouselWidth() {
      const imageWidth = window.innerWidth; // Ancho de la ventana
      carousel.style.width = totalImages * imageWidth + 'px';
  
      images.forEach(function(img) {
        img.style.width = imageWidth + 'px';
      });
  
      // Ajustar la posición actual
      let newPosition = -currentIndex * imageWidth;
      carousel.style.transform = `translateX(${newPosition}px)`;
    }
  
    setCarouselWidth();
  
    window.addEventListener('resize', setCarouselWidth);
  
    setInterval(nextSlide, slideInterval);
  
    function nextSlide() {
      currentIndex = (currentIndex + 1) % totalImages;
      let newPosition = -currentIndex * window.innerWidth;
      carousel.style.transition = 'transform 0.5s ease';
      carousel.style.transform = `translateX(${newPosition}px)`;
    }
  });
  
</script>
