---
// import CTA from "../components/CTA.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Hero2 from "../components/Hero2.astro"
import Hero3 from "../components/Hero3.astro";
// import Pricing from "../components/Pricing.astro";
// import Reviews from "../components/Reviews.astro";
// import SideBySide from "../components/SideBySide.astro";
// import Team from "../components/Team.astro";
// import Nosotros from "./nosotros.astro";
// import Actividades from "./actividades.astro";
import { ViewTransitions } from "astro:transitions";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Inserir Transparente.svg" />
    <meta name="viewport" content="width=device-width", initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator} />
    <title>INSERIR</title>
    <link rel="stylesheet" href="../src/css/styles.css">
    <ViewTransitions />
  </head>
  <body>
    <Navbar/>
    <div class="caja-text">
      <div class="text-nos">    
          <h3>CENTRO INSERIR</h3>   
          <span>
            Somos 3 centros privados, categorizados, dedicados a la rehabilitación del paciente pediátrico, joven y adulto, ubicado en la ciudad de Córdoba.
            Ofrecemos evaluación y tratamiento para rehabilitar y reeducar funciones en el paciente con alteraciones neurológicas y darle elementos que posibiliten su máxima funcionalidad tanto en lo físico, psíquico, educacional y social, con el objetivo de lograr la mejor integración a la comunidad. Así como también promover medidas que previenen la discapacidad.
          </span>
      </div> 
    </div> 

    <Hero/>
    <div class="banner">
      <div class="carousel">
        <img src="/p.jpg" alt="Imagen 1">
        <img src="/q.jpg" alt="Imagen 2">
        <img src="/r.jpg" alt="Imagen 3">
      </div>
  </div>
    <Hero2/>
    <img src="/k.jpg" alt="img2centro" class="img-centro2">
    <Hero3/>
    <img src="/j.jpg" alt="img2centro" class="img-centro2">
    <!-- <SideBySide /> -->
    <!-- <Team /> -->
    <!-- <Pricing /> -->
    <!-- <CTA /> -->
    <Footer />

  </body>
</html>

<style>
/* ESTO ES PARA MOBILE */
@media only screen and (max-width: 768px){

    .img-centro2{
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

  }

  .banner {
  position: relative;
  width: 100%;
  height: auto; /* Ajusta la altura según sea necesario */
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%; /* Ancho total de las imágenes */
  transition: transform 0.5s ease;
  object-fit: cover;
}

.carousel img {
  width: 100%;
  height: auto;
}


.text-nos {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: #f391c2;
  padding: 20px;
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 20px; /* Margen exterior */
}

.text-nos h3 {
  font-size: 28px;
  margin-bottom: 10px; /* Espacio entre el título y el texto */
}

.text-nos span {
  display: block;
  line-height: 1.5;
}


}

/* ESTO ES PARA COMPUTADORA */
@media only screen and (min-width: 768px){
 
  .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }

  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }

  /* .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  } */

  .img-centro2{
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

  }
  .banner {
  position: relative;
  width: 100%;
  height: auto; /* Ajusta la altura según sea necesario */
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%; /* Ancho total de las imágenes */
  transition: transform 0.5s ease;
  object-fit: cover;
}

.carousel img {
  width: 100%;
  height: auto;
}

.text-nos {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: #f391c2;
  padding: 20px;
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 20px; /* Margen exterior */
}

.text-nos h3 {
  font-size: 28px;
  margin-bottom: 10px; /* Espacio entre el título y el texto */
}

.text-nos span {
  display: block;
  line-height: 1.5;
}

}

:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }

  body {
    margin: 0;
    padding: 0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  *,
  *:before,
  *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
  }



</style>

 

<script>
import "../js/script.js"
</script>

