---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
// import Reviews from "../components/Reviews.astro";
// import SideBySide from "../components/SideBySide.astro";
import Team from "../components/Team.astro";
---
<html lang="es">
    <head>

        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Inserir Transparente.svg" />
        <meta name="viewport" content="width=device-width", initial-scale=1.0"/>
        <meta name="generator" content={Astro.generator} />
        <title>Nosotros</title>
    </head>
  <body>
    <Navbar/>

    <div class="cs-title">
      <div class="title">
        <h1>Acerca de Nosotros</h1>
      </div>
    </div>


    <div class="caja-text">
      <div class="text-nos">    
          <span>
            Centro INSERIR, es desde 2007 una Institución de referencia en la rehabilitación de las personas con discapacidad.
            Brindamos un servicio completo e integral de Lunes a Viernes durante todo el año dirigido a niños, jóvenes y adultos con diferentes discapacidades (motrices, cognitivas/conductuales, mentales y viscerales) desde leves a severas.

            <h3>NUESTRA VISIÓN</h3>  
            Ser una institución que promueva el desarrollo de niños, jóvenes y adultos con dificultades neurológicas,
            para que logren, dentro de sus posibilidades, vencer sus limitaciones y alcanzar su máximo potencial, con un abordaje específico y personalizado mediante nuestro equipo; y constituir una entidad de formación continua y especializada en la inclusión social y en mejorar la independencia de las personas con discapacidad.

            <h3>NUESTRA MISIÓN</h3> 
            Nos dedicamos a la atención y abordaje de la persona con discapacidad con daño neurológico, sustentado por un grupo de profesionales altamente calificados cuyos objetivos fundamentales son: asistencia, docencia y calidad humana, orientados a brindar servicio enfatizando en la calidad de vida, independencia e integración de nuestros pacientes en la sociedad.
            
            <div>
              <div class="foto-team">
                  <img src="/l.jpg" alt="imgteam">
              </div>  
            </div>
        
            
            <br>
            En nuestros centros nos esforzamos por ofrecer una amplia gama de actividades, terapias personalizadas y talleres grupales. 
            Desde talleres creativos, de arte, cerámica, música, danza, teatro, hasta deportes adaptados, actividad física, huerta, cocina, AVD (actividades de la vida diaria), nutrición, ESI (educación sexual integral). Nuestras actividades están diseñadas para promover la diversión, el aprendizaje y el desarrollo personal. ¡Explora nuestra galería de imágenes para descubrir las emocionantes experiencias que ofrecemos a nuestra comunidad!

            <br>
            En los Centros de Rehabilitación brindamos tratamiento integral. 
            <br>
            Contamos con 2 directoras Médicas, especialistas en Medicina Física y Rehabilitación/ Fisiatras, quienes coordinan el equipo de profesionales. 
            
            <li>Dra Rojo Graciela</li>  
            <li>Dra Castello Rojo Fernanda</li> 
            
            <br>
            <h3>Servicios Ofrecidos:</h3>

            
              <li>Realizamos tratamientos de neuro rehabilitación con evaluaciones fisiatricas y neuro cognitivas.</li>
              <li>Terapias de Kinesiología y Fisioterapia</li>
              <li>Fonoaudiología</li>
              <li>Terapia Ocupacional</li>
              <li>Psicomotricidad</li>
              <li>Neuropsicología</li>
              <li>Psicopedagogía</li>
              <li>Trabajo Social</li>
              <li>En el centro de Niños contamos con el área de Inclusión Escolar con docentes de apoyo a la inclusión escolar/ maestras integradoras.</li>
            
              <h3>NUESTROS VALORES </h3>
              <li>Respeto por la vida y la dignidad humana.
              <li>Responsabilidad, ética y excelencia profesional.
              <li> Vocación de servicio</li>
              <li>Espíritu inclusivo</li>
              <li>Innovación y creatividad.</li>
              <li> Trabajo en equipo y comunicación.</li>
              <li> Disciplina y educación.</li>
              <li>Equidad.</li>
              <li>Empatía.</li>
              <li>Integridad.</li>
              <li>Respeto.</li>
              
              
          </span>
      </div>
    </div >

    <div class="img-pauta">
       <!-- <p>El Centro de Día está dirigido para:</p> -->
      <img class="img1" src="/b.jpg" alt="pautas">
      <img class="img2" src="/c.jpg" alt="pautas">
    </div>

    <div class="caja-text">
      <div class="text-nos">
        <h3>Habilitaciones con las que contamos</h3>

        <li>Habilitación del Ministerio de Salud (RUGEPRESA).</li>
        <li>Categorización definitiva emitida por el Servicio Nacional de Rehabilitación.</li>
        <li>Inscripción en el Registro Único de Prestadores de la Superintendencia de Servicios de Salud. </li>
        <li>Habilitación Municipal.</li>
        <li>Inscripción en la AFIP.</li>
      </div>
    </div>
    <!-- <Team/> -->
  <Footer/>
    

  </body>
</html>





<style>
/* TODO ESTO PARA VERSION MOBILE O CELULAR */
@media only screen and (max-width: 768px) {

    .img1{
      width: 100%;
    }
    .img2{
      width: 100%
    }
    .img-pauta{
      justify-content: center;
      display: block;
      width: 100%;
    }
    /* .img-pauta p{
      font: 700;
      font-size: 20px ;
      text-align: center;
    } */
    
    .text-nos li{

      margin-bottom: 10px; /* Espacio entre cada ítem */
    }


    .foto-team img {
        max-width: 100%; /* La imagen no excederá el ancho del contenedor */
        margin-top: 10px; /* Reduzco el margen superior para dispositivos móviles */
    }
    .cs-title{
      background-color: #f391c2;
        /* padding: 20px;
        border-radius: 10px; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        line-height: 2.5rem;
    }
    .title {
      font-family: "Arial", sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
        /* max-width: 100%;
        margin: 0 auto;
        background-color: #f391c2;
        padding: 20px;
        border-radius: 10px; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
    }



    .text-nos {
      font-family: "Arial", sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
        max-width: 100%;
        margin: 30px 0 30px;
        background-color: #f391c2;
        /* padding: 20px; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* line-height: 2.5rem; */
    }

    .cs-topper {
        font-size: 1.2em; /* Reduzco el tamaño de la fuente del encabezado */
    }


    .cs-text {
        font-size: 0.9em; /* Reduzco el tamaño de la fuente del texto */
    }
  }


/* TODO ESTO PARA COMPUTADORA */

@media only screen and (min-width: 768px){


    .img1{
      width: 40%;
    }
    .img2{
      width: 40%
    }
    .img-pauta{
      justify-content: center;
      display: flex;
    }

    .foto-team img {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      }


    .cs-title{
      font-family: "Arial", sans-serif;
        /* font-size: 24px; */
        color: black;
        text-align: center;
        height: 100%;
      width: 100%;
        background-color: #f391c2;
        line-height: 2.5rem;
    }
    .title .h1{
      font-family: "Arial", sans-serif;
        font-size: 18px;
        color: black;
        text-align: center;
        width: 100%;
        /* max-width: 100%;
        margin: 0 auto;
        background-color: #f391c2;
        padding: 20px;
        border-radius: 10px; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .caja-text{
        /* display: flex; */
        flex-direction: column; /* Cambia la dirección de flexión a vertical */
        align-items: center; /* Centra el contenido horizontalmente */
        /* padding: 50px 0; */
    }

    .text-nos{
      font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente a una que prefieras */
            font-size: 24px; /* Tamaño medio para el texto */
            color: black; /* Color de texto gris */
            text-align: center; /* Centrar el texto horizontalmente */
            max-width: 100%; /* Ancho máximo para el texto */
            margin: 30px 0 30px; /* Centrar el texto horizontalmente */
            background-color: #f391c2; /* Color de fondo gris claro */
             /* Bordes redondeados */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
            line-height: 2.5rem;
    }
    :root {
        /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
        --primary: #ff6a3e;
        --primaryLight: #ffba43;
        --secondary: #ffba43;
        --secondaryLight: #ffba43;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;
        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;
        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
      }

      body {
        margin: 0;
        padding: 0;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
      }

      *,
      *:before,
      *:after {
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
      }
      .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
      }



      
}

</style>