<section id="banner">
    <div class="cs-container">
      <div class="cs-flex-group">
        <span class="cs-topper">Centro de Día</span>
        <h1 class="cs-title">¡Bievenidos a nuestra Institución!</h1>
        <p class="cs-text">
          ¡Descubre el Centro de Día INSERIR!
        </p>
        <!-- <a href="" class="cs-button-solid">Explorar más</a> -->
        <a href="" class="cs-button-transparent">
          <img
            class="cs-img"
            decoding="async"
            src="/Inserir Transparente.png"
            alt="play icon"
            width="17"
            height="17"
            aria-hidden="true"
          />
           VER EN 360º
        </a>
      </div>
    </div>
</section>