body > * {
    opacity: 0; /* Inicialmente ocultar los elementos */
    transform: translateY(-100%); /* Mover los elementos fuera de la pantalla */
    transition: opacity 0.75s, transform 0.75s; /* Transiciones suaves */
  }

  /* Clase para mostrar los elementos */
  .show {
    opacity: 1; /* Mostrar los elementos */
    transform: translateY(0); /* Mostrar los elementos centrados */
  }
